# 値を置き換えてファイル名を".env"に変えてください
# 絶対に".env"をgitに上げてはいけません

# Credentials
CLIENT_ID=<client-id>
TENANT_ID=consumers

# Configuration
REDIRECT_URI=msal://redirect

# Endpoints
AAD_ENDPOINT_HOST=https://login.microsoftonline.com/
GRAPH_ENDPOINT_HOST=https://graph.microsoft.com/

# RESOURCES
GRAPH_ME_ENDPOINT=v1.0/me
GRAPH_MAIL_ENDPOINT=v1.0/me/messages

# Mac
APPLEID=<your@appleid>
APPLEIDPASS=<your-appleid-pass>
ASC_PROVIDER=<YOUR_ASC_PROVIDER>